body{
    font-family: Arial;
    direction: rtl;
    background:#f5f5f5;
}
.container{
    max-width:700px;
    margin:auto;
    background:#fff;
    padding:15px;
    border-radius:8px;
}
.account{
    padding:10px;
    background:#eee;
    margin:8px 0;
    cursor:pointer;
}
button{
    padding:6px 10px;
    margin:4px;
}
footer{
    text-align:center;
    margin-top:15px;
    color:#777;
}
